body{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.headerShow {
    display: block;
}

.enterBudget {
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    background-image: linear-gradient(to right, #018884 , #017054);

}

.enterBudgetHide {
    display: none;
}

header {
    display: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    background-image: linear-gradient(to right, #018884 , #017054);
}

span {
    font-size: 100px;
    color: black;
}

ul {
    padding-left: 0px;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    font-size: 1rem;
    color: #595959;
}

.listItem {
    flex-grow: 1;
    border-bottom: 1px solid lightgray;
}

h2 {
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: 0px;
    font-size: 50px;
    height: 150px;
}
