.header {
    display: none;
}

.headerShow {
    display: block;
}

.enterBudget {
    display: block;
}

.enterBudgetHide {
    display: none;
}

ul {
    padding-left: 0px;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    font-size: 1rem;
    color: #595959;
}

.listItem {
    flex-grow: 1;
}
