body{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
.moneyPic.one{
    background: transparent;
    position: absolute;
    left: 10px;
    top: 120px;
    height: 75px;
    width: 75px;
}
.moneyPic.two{
    background: transparent;
    position: absolute;
    right: 10px;
    top: 120px;
    height: 75px;
    width: 75px;
}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;

}

#resetBudget{
    width: 100%;
    position: relative;    
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #4CAF50; 
    color: white; 
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-weight: bold;

}

#resetBudget:hover {
    background-color: #79d47c;
    color: black;
    border-radius: 10px;
}

.submit{
    margin-top: 20px;
    background-color: #4CAF50; 
    color: white;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-weight: bold;
}

.submit:hover {
    background-color: #79d47c;
    color: black;
    border-radius: 10px;

}
#submitListItems{
    width: 100%;
    background-color: #4CAF50; 
    color: white; 
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
}

#submitListItems:hover{
    background-color: #79d47c;
    color: black;
    border-radius: 10px;
}

label{
    font-size: 20px;
    font-weight: bold;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 8px;
  }

#payee{
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
}

#category{
    width: 100%;
    padding: 0px 20px;
    margin: 8px 0;
}

#amount{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}


h2{
    width: 100%;
    font-size: 30px;
}


#budgetInput{
    width: 50%;
    padding: 15px;
}

#budgetInput:hover{
    background-color: rgb(240, 255, 218);
}
#payee:hover{
    background-color: rgb(240, 255, 218);
}
#amount:hover {
    background-color: rgb(240, 255, 218);
}

#budgetDisplay{
    display: inline-flex;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 100px;
}

#dollarSign {
    font-size: 100px;
}

.headerShow {
    display: flex;
    color: white;
    /* display: none; */
    text-align: center;
    padding-bottom: 100px;
    margin: 0px;
    font-size: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #018884 , #017054);
}


input[type="number"] {
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 8px;
}

select {
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;

}

#submitBudget{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-items: center;
    position: relative;  
}


/* p {
    font-size: 20px;
    font-weight: bold;
} */

#payee {
    /* width: 75%; */
    height: 50px;
    margin-top: 0px;
}

#amount {
    /* width: 75%; */
    height: 50px;
}

#category {
    /* width: 75%; */
    height: 50px;
    margin-top: 10px;
}

.enterBudget {
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0px;
    font-size: 25px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #018884 , #017054);

}

.enterBudgetHide {
    display: none;
}

header {
    display: none;
    text-align: center;
    padding: 30px;
    margin: 0px;
    font-size: 25px;
    background-image: linear-gradient(to right, #018884 , #017054);
}


/* span {
    font-size: 100px;
    color: black;
} */

ul {
    padding-left: 0px;
    list-style: none;
    /* border: black solid 1px;
    border-radius: 15px; */
    /* justify-self: center; */
}

li {
    display: flex;
    /* border: black solid 1px; */
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    font-size: 1rem;
    color: #595959;
    margin-left: 20px;
}

input#payee{
    margin-top: 10px;
}

.listItem {
    flex-grow: 1;
    border-bottom: 1px solid lightgray;
}

header h2 {
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: 0px;
    font-size: 45px;
    height: 114px;
}

/* category totals CSS */
.hideCategoryTotals {
    border: 2px #017054 solid;
    border-radius: 10px;
    background-image: linear-gradient(to right, #018884 , #017054);
    color: white;
    display: none;
}

.showCategoryTotals {
    border: 2px #017054 solid;
    border-radius: 10px;
    background-image: linear-gradient(to right, #018884 , #017054);
    color: white;
    display: block;
    text-align: center;
}

.categoryTotals span {
    font-size: 20px;
    
}
.categoryTotals h2 {
    text-align: center;
    
}
section span {
    font-size: 20px;
}
.categoryTotals h4 {
    margin-left: 15px;
}
@media only screen and (min-width: 600px){
    .moneyPic.one{
        
        left: 25px;
        top: 100px;
        height: 100px;
        width: 100px;
    }
    .moneyPic.two{
       
        right: 25px;
        top: 100px;
        height: 100px;
        width: 100px;
    }
}
@media only screen and (min-width: 768px){
    .moneyPic.one{
        background: transparent;
        position: absolute;
        left: 40px;
        top: 50px;
        height: 150px;
        width: 150px;
    }
    .moneyPic.two{
        background: transparent;
        position: absolute;
        right: 40px;
        top: 50px;
        height: 150px;
        width: 150px;
    }
    #mainForm{
        width: 50%;
        height: 200px;
    }
    #newEntry {
        position: absolute;
        right: 5px;
        top: 245px;
        width: 50%;
        height: 100vh;
    }
    section{
        margin-top: 150px;
        width: 50%;
    }
    section h3{
        width: 400px;
    }
    .budgetForm {
        display: flex;
        height: 200px;
    }
    .submitListItems{
        margin-bottom: 5px;
        
    }
    .categoryTotals {
        width: 50%;
    }
    li {
        margin-left: 100px;
    }
    h2{
       font-size: 25px;
    }
    #resetBudget{
        width: 50%;
        position: relative;    
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
